.about {
  background: url('../images/home.png');
  background-size: cover;
  color: white;
  text-align: left;
}

.left{
  margin-top: 100px;
}

.me{
  position: relative;
  background: url('../images/vids.jpg');
  background: cover;
  height: 600px;
  margin-left: 825px;
  margin-top: -650px;
 }

.para{
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: block;
  width: 700px;
  margin-left: 0px;
  margin-top: -80px;
}

.abouttitle{
  text-align: left;
  margin-left: 120px;
  margin-top: -50px;
}
