.all{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c{
  margin-top: 175px;
}
.block{
  background-color: white;
  display: flex;
  flex-direction: row;
}

.photos{
  background-color: black;
  color: white;
}

.gray{
  width: 100%;
  height: 75px;
  background-color: black;
  margin-top: -310px;
  z-index: 9;
}

@keyframes wave {
	0% {transform: translateY(0px);}
	25% {transform: translateY(0px);}
	50% {transform: translateY(-10px);}
	75% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}

.clicker{
  width: 150px;
  opacity: 80%;
  animation: wave 2s infinite;
}
.clicker:hover{
  opacity: 100%;
}
.clicker.two{
  width: 150px;
  opacity: 80%;
  animation-delay: 0.25s;
}
.clicker.two:hover{
  opacity: 100%;
}
.clicker.three{
  width: 125px;
  margin-right: 20px;
   margin-top: 10px;
   opacity: 80%;
   animation-delay: 0.5s;
}
.clicker.three:hover{
  opacity: 100%;
}
.clicker.four{
  width: 120px;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 80%;
  animation-delay: 0.75s;
}
.clicker.four:hover{
  opacity: 100%;
}
.clicker.five{
  width: 135px;
  margin-top: 10px;
  opacity: 80%;
  animation-delay: 1s;
}
.clicker.five:hover{
  opacity: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    margin-top: -100px;
    length: 100%;
    justify-content: center;
    margin-left: 25px;
}

span{
  background: pink !important;
  font-family: 'Roboto Mono' !important;
  color: pink !important;
}
