section{
  width: 100%;
  height: 100vh;
}

h1{
  text-align: center;
}

.nav_bar{
  height: 95%;
  width: 23%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.blocks{
  margin-top: 25px;
  margin-bottom: 25px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 33px;
  text-decoration: none;
}

.line {
  position: absolute;
  width: 764px;
  height: 0px;
  left: 59px;
  top: 68px;

  border: 1px solid #FFF8F8;
  transform: rotate(89.81deg);
}
/* page{
  text-align: center;
  align-items: center;
} */

.b{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.dot {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}
